*.pth
LeNet/data/cifar-10-python.tar.gz
LeNet/data/cifar-10-batches-py/batches.meta
LeNet/data/cifar-10-batches-py/data_batch_1
LeNet/data/cifar-10-batches-py/data_batch_2
LeNet/data/cifar-10-batches-py/data_batch_3
LeNet/data/cifar-10-batches-py/data_batch_4
LeNet/data/cifar-10-batches-py/data_batch_5
LeNet/data/cifar-10-batches-py/readme.html
LeNet/data/cifar-10-batches-py/test_batch
